body {
  margin:0;
  padding:0;
  background-color:#f4f4f4;
  font-family:Arial, Helvetica, sans-serif;
  background-color:#1B4F72;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}



.container {
  width:600px;
  max-width:600px;
  background-color:#ffffff;

}

.content {
  padding:35px;
  color:#333333;
  font-size:15px;
  line-height:22px;
}

h1 {
  margin:0 0 15px 0;
  color:#1B4F72;
  font-size:24px;
}

table {
  border-radius: 5px;
  padding-bottom: 60px;
 
}



.data-table {
  width:100%;
  border-collapse:collapse;
  border:1px solid #dddddd;
  margin-bottom:25px;
  
}

.data-table td {
  padding:10px;
  border-bottom:1px solid #dddddd;
}

.data-table .label {
  width:40%;
  background-color:#f7f7f7;
  font-weight:bold;
}

.win {
  width:100%;
  background-color:#27AE60;
  border-radius:4px;
  text-align:center;
  color:#ffffff;
  font-weight:bold;
}

.win td {
  padding:15px;
}

.lose {
  width:100%;
  background-color:#eeeeee;
  border-radius:4px;
  text-align:center;
  color:#555555;
}

.lose td {
  padding:15px;
}

.footer {
  background-color:#f8f8f8;
  padding:20px;
  font-size:11px;
  color:#777777;
  line-height:16px;
  text-align:center;
}

.footer a {
  color:#1B4F72;
  text-decoration:none;
}


.full-banner img {
  width:100%;
  object-fit:cover;
  display:block;
  border:0;
  line-height:0;
  font-size:0;
}


.random {
    width: 100%;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    background-color: #2f5fa8;
    height: 350px; 
    background-image: url("LOGOOO.png");
    background-position: center center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover; 

}