* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #4c8ecb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    background: #f9fbfb;
    width: 100%;
    max-width: 720px;
    border-radius: 12px;
    padding: 40px 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.random {
    width: 100%;
    border-radius: 0;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    background-color: #2f5fa8;
    min-height: 350px;
    background-image: url("LOGOOO.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    position: relative;
    padding-top: 20px;
}


.random h2 {
    text-align: center;
    position: relative;
    z-index: 1;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 5px;
}

.random p {
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
    text-align: center;
    margin-left: 20px;
}

.banner-button {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 1;
    background-color: blue;
}

.random h2 {
    font-size: 30px;
}

.random p {
    font-size: 25px;
}

.banner-button {
    color: white;
    background-color: blue;
    padding: 10px 25px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}



.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px;
    background: transparent;
    box-shadow: none;
}

.table td {
    padding: 0;
}

label {
    font-weight: 600;
    color: #2f5fa8;
    display: block;
    margin-bottom: 6px;
}

input[type="text"],input[type="email"],input[type="date"],select,textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 13px;
}


textarea {
    resize: vertical;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
}


small {
    color: #999;
    font-size: 12px;
    display: block;
    margin-top: 3px;
}





button {
    margin: 0 10px;
    background: blue;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}






.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}



.col{
    display: flex;
    flex-direction: column;
    margin: 0;
}




.row h1 {
    font-size: 20px;
    margin: 0;
}



h1 {
    font-size: 24px;
    color: #2f5fa8;
    margin-bottom: 15px;
}



p {
    color: #666;
    margin-bottom: 15px;
    font-size: 14px;
}